torchvision<0.14
torchtext<0.14
torch<1.13
mosaicml[libcloud]==0.11.0
mosaicml-streaming<0.2.0
# flash_attn @ git+https://github.com/HazyResearch/flash-attention.git@main
transformers<5
datasets<3
omegaconf<3
wandb<1
deepspeed==0.7.5
triton # does *not* work with nightly triton (what you're supposed to use) only pip triton
pytest
