datasets<3
einops==0.5.0
mosaicml==0.11.0
mosaicml-streaming<1
# flash_attn @ git+https://github.com/HazyResearch/flash-attention.git@main
omegaconf<3
transformers<5
torchvision<0.14
torchtext<0.14
torch<1.13
wandb<1
