# --------- pytorch --------- #
torch>=1.12.0
torchvision>=0.11.0
mosaicml[all]==0.12.0
torchmetrics[image]==0.11.0


# --------- loggers --------- #
wandb
# neptune-client
# mlflow
# comet-ml
# torch_tb_profiler


# --------- others --------- #
omegaconf


# -------- diffusion -------- #
diffusers[torch]==0.11.1
transformers[torch]==4.25.1
